.contact__page {
  padding: var(--spacing-36) var(--spacing-14);
}

.contact__img {
  display: flex;
  max-width: 280px;
  order: 1;
}

.contact__img img {
  animation: fade 0.6s;
}

.card-item__img--contact {
  max-width: 280px;
  max-height: 280px;
}

.contact__license {
  font-size: var(--font-size-14px);
  font-weight: 500;
  color: var(--color-fuente-gris);
  text-transform: uppercase;
}

.contact__title {
  font-size: var(--font-size-22px);
  font-weight: 700;
  text-transform: uppercase;
}

.contact__description {
  font-size: var(--font-size-18px);
  font-weight: 400;
  color: var(--color-fuente-gris);
}

.contact__link {
  display: flex;
  align-items: center;
  gap: var(--spacing-14);
  font-size: var(--font-size-20px);
  color: var(--color-fuente-gris);
  font-weight: 400;
}

.link__icon {
  max-width: 3.5rem;
}

.contact__carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__button {
  font-size: var(--font-size-16px);
  padding: var(--spacing-8) var(--spacing-14);
  background-color: var(--color-primario);
  color: var(--color-fuente-claro);
  font-weight: 400;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact__page {
    padding: 0 var(--spacing-14);
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 6rem;
  }

  .contact__img {
    justify-self: start;
    padding-left: var(--spacing-28);
  }

  .card-item__img--contact {
    max-width: 280px;
    max-height: 280px;
  }

  .contact__license {
    font-size: var(--font-size-16px);
  }

  .contact__title {
    font-size: var(--font-size-24px);
  }

  .contact__description {
    font-size: var(--font-size-20px);
  }

  .contact__link {
    font-size: var(--font-size-24px);
  }

  .link__icon {
    max-width: 3.7rem;
  }

  .contact__carrito {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__content {
    justify-self: end;
    padding-right: var(--spacing-24);
  }

  .contact__button {
    font-size: var(--font-size-18px);
    padding: var(--spacing-8) var(--spacing-16);
  }
}

@media screen and (min-width: 1024px) {
  .contact__page {
    padding: 0 var(--spacing-14);
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: var(--spacing-68);
  }

  .contact__img {
    justify-self: start;
  }

  .card-item__img--contact {
    max-width: 280px;
    max-height: 280px;
  }

  .contact__license {
    font-size: var(--font-size-18px);
  }

  .contact__title {
    font-size: var(--font-size-26px);
  }

  .contact__description {
    font-size: var(--font-size-22px);
  }

  .contact__link {
    font-size: var(--font-size-26px);
  }

  .link__icon {
    max-width: 3.7rem;
  }

  .contact__carrito {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__content {
    justify-self: end;
    padding-right: var(--spacing-36);
  }

  .contact__button {
    font-size: var(--font-size-20px);
  }

  .card-contact {
    transition: 0.2s ease-in-out;
  }

  .card-contact:hover {
    box-shadow: 0px 0px 15px 0px #00000040;
    transform: scale(1.02, 1.02);
  }

  .contact__button:hover {
    background-color: var(--color-fuente-gris);
  }
}
