<%- include('./partials/header.ejs') %>

    <main class="contact__page">
      <section class="container" style="padding:32px;">
        
        <div style="display:flex;flex-direction:column;gap:10px;width:100%;justify-content: center;align-items:center;">
          <h1>Get to Funkoshop sourcecode.</h1>
          <a class="contact__button" href="https://github.com/fawredd/funkos_ejs" target="_blank" rel="noopener noreferrer">Get to github repository</a>
        </div>
      </section>
    </main>

    <%- include ('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/scripts/menu.js"></script>
  </body>
</html>
