<%- include('./partials/header.ejs') %>

    <main class="item__page">
      <section class="item container">
        <picture class="error__img">
          <img class="card-item__img--front" src="/img/Belt-Banner-Ed-Asner-Hero.png" alt="Error 404 not found." />
        </picture>

        <article class="item__content">
          <p class="item__license">Error 404</p>
          <h1 class="item__title">P치gina no encontrada.</h1>
          <p class="item__price">La p치gina que usted est치 buscando no existe.</p>

          <div class="item__carrito">
              <a class="item__add-cart" href="/">Ir a la p치gina de inicio</a>
          </div>
        </article>
      </section>
    </main>

    <%- include ('./partials/footer.ejs') %>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/scripts/menu.js"></script>
  </body>
</html>