<%- include('../partials/header.ejs') %>

    <main class="item__page">
      <section class="item container">
        <picture class="error__img">
          <img class="card-item__img--front" src="/img/duck.png" alt="Good purchase." />
        </picture>

        <article class="item__content">
          <h1 class="item__title">¡Felicitaciones! Compra realizada con éxito.</h1>
          <p class="item__description">Recibira un email con el detalle de su compra</p>
          <div class="item__carrito">
              <a class="item__add-cart" href="/shop">Ir a la tienda</a>
          </div>
        </article>
      </section>
    </main>

    <%- include ('../partials/footer.ejs') %>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/scripts/menu.js"></script>
  </body>
</html>
