<footer>
    <section class="navbar container">
      <ul class="navbar__footer">
        <li class="navbar__item">
          <a class="navbar__link" href="/shop">SHOP</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/auth/register"> REGISTRARSE </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/auth/login">INGRESAR</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/contact"> CONTACTO </a>
        </li>
      </ul>

      <picture class="navbar__img">
        <a href="/">
          <img src="/img/branding/isotype.svg" alt="Logo Funko Shop" />
        </a>
      </picture>
    </section>

    <p class="copyright container">
      <% const date = new Date() %>
      All rights reserved <%= date.getFullYear() %> - Funkoshop &copy;
    </p>
  </footer>